# Ignore Gradle project-specific cache directory
.kotlin
.gradle

# Ignore Gradle build output directory
**/build/

# Ignore API Documentation Generation
server/docs/

# IDE specific directories
.idea

# OS specific files
kls_database.db
.DS_Store

# Log Files
*.log

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Avoid ignoring Gradle Wrapper Jar
!gradle/wrapper/gradle-wrapper.jar
